
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-4">
        <h2>June Alvarado</h2>
        <p>I like to sniff pretty girls on the train. Sometimes they here me sniffing. </p>
        <p><a class="btn btn-default" href="link to your view">View Profile</a></p>
    </div>